<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RIGGER PROJECT</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Rigger Damaiarta Tejayanda</h2>
  <h2>21416255201093</h2>
  <h2>IF21 A</h2>

  <form (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>NIM:</ion-label>
      <ion-input type="text" [(ngModel)]="nim" name="nim"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Class:</ion-label>
      <ion-input type="text" [(ngModel)]="class" name="class"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Message:</ion-label>
      <ion-textarea [(ngModel)]="message" name="message"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Send To:</ion-label>
      <ion-select [(ngModel)]="sendTo" name="sendTo">
        <ion-select-option value="whatsapp">WhatsApp</ion-select-option>
        <ion-select-option value="telegram">Telegram</ion-select-option>
        <ion-select-option value="email">Email</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">Send</ion-button>
  </form>

  <ion-button expand="full" routerLink="/history">Go to History</ion-button>

  <div id="map">
    <iframe
      width="100%"
      height="300"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.7298272946355!2d<longitude>!3d<latitude>!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f41a6448bb97%3A0x8f260eaf1e4ab77!2sJalan%20Pantai%20Pandan%20Kec.%20Samarinda%20Ulu%2C%20Kota%20Samarinda%2C%20Kalimantan%20Timur%2075157!5e0!3m2!1sen!2sid!4v1623400737403!5m2!1sen!2sid"
      allowfullscreen
    ></iframe>
  </div>
</ion-content>
